<div class="h1 text-center">Login</div>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="row">
    <div class="form-group col-sm-6 offset-sm-3">
      <label>Username</label>
      <input type="text"
             class="form-control"
             [ngClass]="{'is-invalid': form.getError('username')}"
             placeholder="Username"
             formControlName="username"
             required>
      <div class="invalid-feedback" *ngIf="form.getError('username')" [innerHtml]="form.getError('username')"></div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 offset-sm-3">
      <label>Password</label>
      <input type="password"
             class="form-control"
             [ngClass]="{'is-invalid': form.getError('password')}"
             placeholder="Password"
             formControlName="password"
             required>
      <div class="invalid-feedback" *ngIf="form.getError('password')" [innerHtml]="form.getError('password')"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <a class="btn btn-default" [routerLink]="['/list', currentPage]" [queryParamsHandling]="'preserve'">Cancel</a>
      <button class="btn btn-primary float-right" type="submit">Login</button>
    </div>
  </div>
</form>
